* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*::selection {
  color: #3e3e3e;
  background: #fcd3cc;
}

html,
body,
#root {
  height: 100%;
}

body {
  overflow-y: auto;
  font-family: 'Source Sans Pro';
  font-size: 18px;
}

button {
  cursor: pointer;
  border: 0;
  background: transparent;
  padding: 0;
  display: inline-flex;
}

.react-pdf__Page {
  box-shadow: 0 25px 50px 0 rgba(62, 62, 62, 0.15);
  transform-origin: top;
}
.react-pdf__Document {
  transform-origin: top;
  position: relative;
  top: 1rem;
}

@media (max-width: 1290px) {
  .react-pdf__Document {
    transform: scale(0.8);
  }
}

@media (max-width: 1050px) {
  .react-pdf__Document {
    transform: scale(0.8);
  }
}

@media (max-width: 992px) {
  .react-pdf__Document {
    transform: scale(0.8);
  }
}
@media (max-width: 500px) {
  .react-pdf__Document {
    transform: scale(0.8);
  }
}

@media (max-width: 370) {
  .react-pdf__Document {
    transform: scale(0.5);
  }
}
